html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 100%;
    color: #383e47;
    background: #fff;
    width: 100%;
    /*footer height plus padding*/
    margin-bottom: 200px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #FAA61A;
}


p {
    font-size: 1.4em;
    line-height: 1.8em;
    padding-bottom: 1em;
}



/* ======== HEADER ======== */

.navbar {
    background-color: #eeeeee;
    border-bottom: 1px solid #f9a21b;
    height: 40px;
    min-height: 40px;
    position: relative;
    margin-bottom: 0;
}

.wraper {
    margin-right: 15%;
    margin-left: 15%;
}

.social-icons {
    padding-top: 10px;
}


.logo {
    float: left;
    padding: 1px 19px 0 0;
    margin-top: 8px;
}

.logo img{
    width:95%;
}


.dj_header {

    margin-top: 7px;
    width: 300px;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    color: #777;
    font-size: 1.7em;
    text-decoration: none;
    white-space: nowrap;
}

.social-icons {
    color: #999999;
}

.fa-facebook:hover {
    color: #f9a21b;
}

.fa-twitter:hover {
    color: #f9a21b;
}




/* ======== Footer ======== */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    background: #1c2124 none repeat scroll 0 0;
    text-align: left;
    font-size: 15px;
    display: block;
}

#footer-wraper {
    padding-top:20px;
}

.links li {
    color:#fff;
    font-size: 0.7em;
}

.copyright {
    float: left;
    font-size: 0.7em;
    color: #fff;
}
.copyright p {
    font-size: 1.1em;
}
.copying-info {
    font-size: 0.7em;
    padding-top: 10px;
    line-height: 15px;
    color: #888c91;
}
.support-site:link,
.support-site:visited {
    color: #f9a21b;
}


/* ======== CUSTOM PROJECT ======== */

h1 {
  text-transform: none;
  font: 42px/55px "Open Sans";
  font-weight: bold;
  margin: 10px 0px 0px;
}

h2 {
  text-transform: none;
  font: 28px/35px "Open Sans";
  margin-top: 0px;
  font-weight: bold;
  color: #fff;
}


h3 {
  text-transform: none;
  font: 18px/35px "Open Sans";
  font-weight: bold;
  margin: 10px 0px 20px;
}

p {
 text-transform: none;
 font: 14px/25px "Open Sans";
}


#main {
margin-top: 2em;
}

.center {
  text-align: center;
}

.main-text {
  margin-left: 15%;
  margin-right:15%;
}
.svg-container {
display: block;
position: relative;
width: 100%;
margin:auto;
padding-top:3em;
padding-bottom: 10%;
vertical-align: middle;
overflow: hidden;
}

.dotted {
  color: #4b444d;
  border-bottom: 1.5px dotted #ccc;
  text-decoration: none;
}

.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
}


.legend {
  text-transform: none;
  font: 12px/21px "Open Sans";
}

.btn {
  outline: none;
  box-shadow: none;
  background: #fff;
  border: 3px solid #383e47;
  padding: 0.5em 2em;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: #383e47;
  margin-right: 2em;
  display: block;
  }

.active-btn {
    border: 3px solid #C77966;
    color: #C77966;
}

.active-btn:hover {
    color: #C77966;
}

.inline {
  padding-right: 2em;
}

#help-graph-title {
  margin-top: 0px;
}

.m1 {
  animation: mosquito1 5s ease infinite;
}

.m2 {
  animation: mosquito2  4s ease infinite;
}

.m3 {
  animation: mosquito3 7s ease infinite;
}



@keyframes mosquito1  {
0% {stroke: #A36D5C; transform: translateY(0px);}
50% {stroke: #D9CEAD; transform: translateY(10px);}
100% {stroke: #A36D5C; transform: translateY(0px);}
}

@keyframes mosquito2  {
0% {stroke: #383E47; transform: translateY(0px);}
50% {stroke: #A36D5C; transform: translateY(-10px);}
100% {stroke: #383E47; transform: translateY(0px);}
}

@keyframes mosquito3  {
0% {stroke: #D9CEAD; transform: translateY(0px);}
50% {stroke: #383E47; transform: translateY(10px);}
100% {stroke: #D9CEAD; transform: translateY(0px);}
}



.bee {
  transform: translateY(0px);
  animation: popup 1.5s ease infinite;
}
@keyframes popup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
#hint {
  margin-top: 1em;
}
#hint2 {
  display: none;
}

.cars,
.flats,
.years {
  text-transform: none;
  font: 16px/35px "Open Sans";
  font-weight: bold;
  color: #383e47;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
  background: #eee;
	opacity: .9;
  color: #383e47;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

#help_section {
  margin-top: 3em;
}

#help-graph {
  margin-top: -2em;
}

#disclaimer-box {
  margin-top: 5em;
}


/* ======== D3.js ======== */

.help_rect {
  fill:#C77966;
}
.help,
.price {
  fill:#fff;
}
.car_rect {
  fill:#515A67;
}

.name {
  cursor:pointer;
}

/* ======== Media Query ======== */

@media only screen and (max-width: 1024px)  and (orientation: landscape) {
.wraper { margin-right: 5%; margin-left: 5%;}
.copyright { font-size: 0.6em; }
.links li { color:#fff; font-size: 0.6em; }
.copying-info { font-size: 0.6em;}
.dj_header {font-size: 1.5em;}
}


@media only screen and (max-width: 1024px)  and (orientation: portrait) {
.wraper { margin-right: 5%; margin-left: 5%;}
.copyright { font-size: 0.6em; }
.links li { color:#fff; font-size: 0.6em; }
.copying-info {font-size: 0.6em;}
.dj_header {font-size: 1.5em;}
}

@media only screen and (max-width: 601px) {
.wraper { margin-right: 5%; margin-left: 5%;}
.copyright { font-size: 0.7em; }
.copying-info { font-size: 0.6em;}
.dj_header {display: none;}
.links li {display:none;}
.logo {margin-top: 15px;}
#footer-wraper { padding-top: 0px;}
h1 {font: 24px/28px "Open Sans"; font-weight: bold; margin-top: -0.5em;}
h3 {font: 16px/22px "Open Sans"; font-weight: bold; }
.btn {  padding: 0.2em 0.2em; margin-top: 1em;}
.p2 {display: none;}
#honeycomb {margin-top: 2em;}
.main-text { margin-left: 1%; margin-right:1%;}
#help_section {  margin-top: 0em; }
#hint2 {display: block;}
.container {padding-left: 0px; padding-right: 0px;}
}
